{% extends 'presentation.html.twig' %}
{% block content %}
    <div class="reveal">
        <div class="slides">
            <section>Slide 1</section>
            <section>Slide 2</section>
            <section>Slide 3</section>
            <section>Slide 4</section>
        </div>
    </div>
{% endblock %}