<section class="cta" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 text-lg-left text-center">
                <h2>
                    {{ 'menu.contact_us'|trans }}
                </h2>
                <p>
                    Если у вас есть вопросы, отправьте сообщение в Facebook Messenger, воспользовавшись формой справа, и
                    мы свяжемся с вами в ближайшее время.
                </p>
            </div>

            <div class="col-lg-6 text-lg-right text-center">
                {% include 'index/facebook-messenger.html.twig' %}
            </div>
        </div>
    </div>
</section>
