{% extends 'base.html.twig' %}
{% block slider %}

    <section class="hero">
        <div class="container text-center">
            <div class="col-md-12">
                <h1>
                    Hiberbee
                </h1>

                <p class="tagline">
                    Ваш проводник в мир информационных технологий
                </p>
                <a class="btn btn-full" href="#about">Далее</a>
            </div>
        </div>
    </section>

{% endblock %}

{% block content %}
    {% include 'index/about.html.twig' %}

    <hr>

    {#{% include 'index/values.html.twig' %}#}

    {% include 'index/process.html.twig' %}

    <hr>

    {% include 'index/services.html.twig' %}

    {% include 'index/our_projects.html.twig' %}

    {% include 'index/technologies.html.twig' %}

{% endblock %}