{% extends 'base.html.twig' %}
{% block slider %}

    <section class="hero">
        <div class="container text-center">
            <div class="col-md-12">
                <h1>
                    Hiberbee
                </h1>

                <p class="tagline">
                    Ваш проводник в мир информационных технологий
                </p>
                <a class="btn btn-full" href="#service_catalog">Далее</a>
            </div>
        </div>
    </section>

{% endblock %}

{% block content %}
    {#{% include 'index/about.html.twig' %}#}

    {#{% include 'index/mission.html.twig' %}#}

    {#{% include 'index/benefits.html.twig' %}#}

    {#{% include 'index/work-models.html.twig' %}#}

    {% include 'index/services.html.twig' %}

    {#{% include 'index/our_projects.html.twig' %}#}

    {#{% include 'index/team.html.twig' %}#}

    {#{% include 'index/contact.html.twig' %}#}

{% endblock %}