{% extends 'base.html.twig' %}
{% block slider %}
    <div style="position:absolute;z-index:2;width: 100%;background: rgba(0,0,0,0.75);height: 100vh">
        {#<div style="margin: 0 auto;width: 200px;position: relative;top: 30%">#}
        {#<a class="hero-brand" href="{{ path('index') }}" title="Home">#}
        {#<img src="{{ asset('img/logo.png') }}" width="200px">#}
        {#</a>#}
        {#</div>#}
        <div style="position: relative; top: 30%; margin: auto; width: 100%">
            <h1 style="text-align: center;color: #fff">
                Hiberbee
            </h1>
            <p style="text-align: center;color: #fff">
                Ваш проводник в мир информационных технологий
            </p>
            <div style="width:100%">
                <a style="margin: 0 auto;display: block;width: 220px" class="btn btn-full"
                   href="#about">Далее</a>
            </div>
        </div>
    </div>
    <div class="honeycomb" style="z-index:1">
        <div class="honeycomb_container">
            <div class="hexagon"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    {#{% include 'index/about.html.twig' %}#}

    {#{% include 'index/mission.html.twig' %}#}

    {#{% include 'index/benefits.html.twig' %}#}

    {#{% include 'index/work-models.html.twig' %}#}

    {% include 'index/services.html.twig' %}

    {#{% include 'index/our_projects.html.twig' %}#}

    {#{% include 'index/team.html.twig' %}#}

    {#{% include 'index/contact.html.twig' %}#}

{% endblock %}