<div class="block block-pd-lg block-bg-overlay text-center mission">
    <h2>
        {{ 'menu.our_mission'|trans }}
    </h2>

    <p>
        This is the most powerful theme with thousands of options that you have never seen before.
    </p>
</div>