<section class="portfolio" id="our_projects">
    <div class="container text-center">
        <h2>
            {{ 'menu.our_projects'|trans }}
        </h2>
    </div>

    <div class="portfolio-grid">
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#"><img alt="" src="{{ asset('img/porf-1.jpg') }}">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    Software Architecture case
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#"><img alt="" src="{{ asset('img/porf-1.jpg') }}">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    Project migration case
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#"><img alt="" src="{{ asset('img/porf-1.jpg') }}">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    The Dude Rockin'
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card card-block">
                    <a href="#"><img alt="" src="img/porf-1.jpg">
                        <div class="portfolio-over">
                            <div>
                                <h3 class="card-title">
                                    The Dude Rockin'
                                </h3>

                                <p class="card-text">
                                    Lorem ipsum dolor sit amet, eu sed suas eruditi honestatis.
                                </p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
