<section class="process" id="process">
    <div class="container">
        <h2 class="text-center">{{ 'menu.process'|trans }}</h2>

        <h3>Разработка</h3>
        <div class="row bs-wizard development_flow">
            <div class="col-sm bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum"><h6>Планирование</h6></div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <div class="bs-wizard-dot"></div>
                <p class="bs-wizard-info text-center">
                </p>
            </div>
            <div class="col-sm bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum"><h6>Разработка</h6></div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <div class="bs-wizard-dot"></div>
                <p class="bs-wizard-info text-center">
                </p>
            </div>
            <div class="col-sm bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum"><h6>Презентация</h6></div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <div class="bs-wizard-dot"></div>
                <p class="bs-wizard-info text-center">
                </p>
            </div>
            <div class="col-sm bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum"><h6>Передача артефактов</h6></div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <div class="bs-wizard-dot"></div>
                <p class="bs-wizard-info text-center">
                </p>
            </div>

            <div class="col-sm bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum"><h6>Обратная связь</h6></div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <div class="bs-wizard-dot"></div>
                <p class="bs-wizard-info text-center">
                </p>
            </div>
            <div class="col-sm bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum"><h6>Сопровождение</h6></div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <div class="bs-wizard-dot"></div>
                <p class="bs-wizard-info text-center">
                </p>
            </div>

        </div>

        <h3>Консалтинг</h3>
        <div class="row bs-wizard consulting_flow" style="border-bottom:0;">
            <div class="col-sm bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum"><h6>Воркшоп</h6></div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <div class="bs-wizard-dot"></div>
                <p class="bs-wizard-info text-center">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> от 4 до 16 часов<br>
                </p>
            </div>
            <div class="col-sm bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum"><h6>Разработка решения</h6></div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <div class="bs-wizard-dot"></div>
                <p class="bs-wizard-info text-center">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> от 1 до 5 дней<br>

                </p>
            </div>
            <div class="col-sm bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum"><h6>Презентация</h6></div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <div class="bs-wizard-dot"></div>
                <p class="bs-wizard-info text-center"><i class="fa fa-clock-o" aria-hidden="true"></i> 1 час<br>

                </p>
            </div>
            <div class="col-sm bs-wizard-step complete">
                <div class="text-center bs-wizard-stepnum"><h6>Ретроспектива внедрения</h6></div>
                <div class="progress">
                    <div class="progress-bar"></div>
                </div>
                <div class="bs-wizard-dot"></div>
                <p class="bs-wizard-info text-center">
                    <i class="fa fa-clock-o" aria-hidden="true"></i> от 2 до 4 часов<br>
                </p>
            </div>
        </div>
    </div>
</section>