<section class="features" id="service_catalog">
    <div class="container">
        <h2 class="text-center">
            {{ 'menu.service_catalog'|trans }}
        </h2>

        <div class="row">
            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center">
                    <div>
                        <div class="feature-icon">
                            <span class="fa fa-line-chart"></span>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Консалтинг
                        </h3>
                    </div>
                </div>
            </div>

            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center">
                    <div>
                        <div class="feature-icon">
                            <span class="fa fa-database"></span>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Разработка
                        </h3>
                    </div>
                </div>
            </div>

            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center">
                    <div>
                        <div class="feature-icon">
                            <span class="fa fa-users"></span>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Проектный менеджмент
                        </h3>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center">
                    <div>
                        <div class="feature-icon">
                            <span class="fa fa-graduation-cap"></span>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Обучение
                        </h3>
                    </div>
                </div>
            </div>

            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center">
                    <div>
                        <div class="feature-icon">
                            <span class="fa fa-medkit"></span>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Поддержка и миграция
                        </h3>
                    </div>
                </div>
            </div>

            <div class="feature-col col-lg-4 col-xs-12">
                <div class="card card-block text-center">
                    <div>
                        <div class="feature-icon">
                            <span class="fa fa-laptop"></span>
                        </div>
                    </div>

                    <div>
                        <h3>
                            Гаджет-менеджмент
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>