<section class="team" id="team">
    <div class="container">
        <h2 class="text-center">
            Команда
        </h2>

        <div class="row">
            <div class="col-sm-4">
                <div class="card card-block">
                    <a href="#"><img alt="Vladyslav Volkov" class="team-img"
                                     src="{{ asset('img/photo-vlad.jpg') }}">
                        <div class="card-title-wrap">
                            <span class="card-title">Vladyslav Volkov</span> <span class="card-text">CEO</span>
                        </div>

                        <div class="team-over">
                            <h4 class="hidden-md-down">
                                Connect with me
                            </h4>

                            <nav class="social-nav">
                                <a href="https://facebook.com/nezquiraj" target="_blank"><i
                                            class="fa fa-facebook"></i></a>
                                <a href="https://linkedin.com/in/vladyslavvolkov" target="_blank"><i
                                            class="fa fa-linkedin"></i></a>
                                <a href="mailto:vlad@hiberbee.com"><i class="fa fa-envelope"></i></a>
                            </nav>

                            <p>
                                Over 10 years experience in Information Technologies. Worked as Software developer,
                                System architect & Technical consultant.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
