<section class="values" id="values">
    <div class="container text-center">
        <h2>
            Наши ценности
        </h2>
        <p>Мы следуем ценностям и идеям, заложенным {{ 'now'|date('Y') - 2001 }} лет назад в основы гибких методологий
            разработки</p>
        <div class="row stats-row">
            <div class="stats-col col-md">
                <div class="circle">
                    <h6>Люди и взаимодействие важнее процессов и инструментов</h6>
                </div>
            </div>
            <div class="stats-col col-md">
                <div class="circle">
                    <h6>Работающий продукт важнее исчерпывающей документации</h6>
                </div>
            </div>
            <div class="stats-col col-md">
                <div class="circle">
                    <h6>Сотрудничество с заказчиком важнее согласования условий контракта</h6>
                </div>
            </div>
            <div class="stats-col col-md">
                <div class="circle">
                    <h6>Готовность к изменениям важнее следования первоначальному плану</h6>
                </div>
            </div>
        </div>
    </div>
</section>
