/*!
 * This file is part of the Hiberbee web application.
 *
 * (c) Vladyslav Volkov <vlad@hiberbee.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

#footer {
  background-color: #3b393d;
  padding: 0;
}

#footer p {
  color: #fff;
  opacity: .75;
  line-height: 2.0925;
}

#footer .social-nav a {
  color: #fff;
  opacity: .25;
}

#footer .social-nav a:hover {
  opacity: 1;
}

#footer .bottom {
  padding: 20px 0;
}

#footer .bottom .list-inline, #footer .bottom p {
  margin: 0;
}

#footer .bottom .list-inline {
  position: relative;
  top: 5px;
}

#footer .bottom .list-inline a {
  color: #fff;
  margin-right: 15px;
}

#footer .bottom .list-inline a:hover {
  color: $yellow;
}

#footer .credits {
  color: #ddd;
}

#footer .credits a {
  color: #fbbe0f;
}

#footer .social-nav a {
  font-size: 24px;
  margin-left: 15px;
  color: #fff;
}

#footer .social-nav a:hover {
  color: $yellow;
}