/*!
 * This file is part of the Hiberbee web application.
 *
 * (c) Vladyslav Volkov <vlad@hiberbee.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Open Sans Condensed', sans-serif;
}

h4, h5, h6 {
  font-weight: 600;
}

section h2 {
  color: $yellow;
}

p {
  line-height: 1.55;
  color: #999;
  font-weight: 400;
}

ul li {
  font-size: 14px;
  font-weight: 400;
}

h1 {
  font-size: 62px;
}

h2 {
  font-size: 30px;
  margin-bottom: 65px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 18px;
}

a {
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

section {
  padding: 85px 0;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(59, 57, 61, 0.1);
}

ul.bullet-circle {
  list-style-type: none;
  margin-left: 0;
  text-align: justify;
  padding: 10px 0;
  color: #999;
  li {
    line-height: 21px;
    padding: 5px 0px;
  }
  li:before {
    font-size: 12px;
    content: "\f00c";
    font-family: FontAwesome;
    background-color: $yellow;
    color: #fff;
    padding: 6px;
    margin-right: 10px;
    border-radius: 50%;
  }
}
