/*!
 * This file is part of the Hiberbee web application.
 *
 * (c) Vladyslav Volkov <vlad@hiberbee.com>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

.stats-row {
  margin-top: 65px;
}

.stats-col .circle {
  display: inline-block;
  width: 150px;
  height: 150px;
  border: 6px solid $yellow;
  border-radius: 50%;
  padding: 55px 25px 0 25px;
  position: relative;
}

.stats-col p {
  margin-top: 10px;
}