<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    {% if app.environment == 'prod' %}
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111095351-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }

            gtag('js', new Date());
            gtag('config', 'UA-111095351-1');
        </script>
        <script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return;
                n = f.fbq = function () {
                    n.callMethod ?
                        n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                };
                if (!f._fbq) f._fbq = n;
                n.push = n;
                n.loaded = !0;
                n.version = '2.0';
                n.queue = [];
                t = b.createElement(e);
                t.async = !0;
                t.src = v;
                s = b.getElementsByTagName(e)[0];
                s.parentNode.insertBefore(t, s)
            }(window, document, 'script',
                'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1965963293616292');
            fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
                       src="https://www.facebook.com/tr?id=1965963293616292&ev=PageView&noscript=1"
            /></noscript>
    {% endif %}
    <meta charset="utf-8">
    <title>Hiber Bee</title>
    <meta name="description" content="IT Services & Consulting">
    <meta name="author" content="Hiberbee">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block stylesheets %}
        <link href="{{ asset('build/css/presentation.css') }}" rel="stylesheet"/>
    {% endblock %}
</head>
<body>

{% block content %}

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('build/manifest.js') }}"></script>
    <script src="{{ asset('build/js/presentation.js') }}"></script>
{% endblock %}
</body>
</html>